/**************************************************************************
 *  File name  :  help.rc
 *
 *  Description:  This resource file contains the Help table and subtable
 *                resources used by the help manager.
 *
 *  Concepts   :  resource script
 *
 *  API's      :  [none]
 *
 *  Required
 *    Files    :  OS2.H, MAIN.H, HELP.H, DLG.H
 *
 *  (c) Copyright IBM Corp. 1991, 1998  All rights reserved.
 *
 *  These sample programs are owned by International Business Machines
 *  Corporation or one of its subsidiaries ("IBM") and are copyrighted and
 *  licensed, not sold.
 *
 *  You may copy, modify, and distribute these sample programs in any
 *  form without payment to IBM, for any purpose including developing,
 *  using, marketing or distributing programs that include or are
 *  derivative works of the sample programs.
 *
 *  The sample programs are provided to you on an "AS IS" basis, without
 *  warranty of any kind.  IBM HEREBY EXPRESSLY DISCLAIMS ALL WARRANTIES,
 *  EITHER EXPRESS OR IMPLIED, INCLUDING , BUT NOT LIMITED TO, THE IMPLIED
 *  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
 *  Some jurisdictions do not allow for the exclusion or limitation of
 *  implied warranties, so the above limitations or exclusions may not
 *  apply to you.  IBM shall not be liable for any damages you suffer
 *  as a result of using, modifying or distributing the sample programs
 *  or their derivatives.
 *************************************************************************/

#include <os2.h>
#include "main.h"
#include "help.h"
#include "dlg.h"

/*
 *  Help table definition
 */
HELPTABLE   TEMPLATE_HELP_TABLE
{
    HELPITEM    IDR_MAIN,       SUBTABLE_MAIN,         PANEL_MAIN
    HELPITEM    IDD_PRODUCTINFO, SUBTABLE_PRODUCTINFODLG, PANEL_PRODUCTINFODLG
}


/*
 *  Main window subtable, includes menu item help
 */
HELPSUBTABLE SUBTABLE_MAIN
SUBITEMSIZE     2
{
    HELPSUBITEM     IDM_HELP,                   PANEL_HELP
    HELPSUBITEM     IDM_HELPINDEX,              PANEL_HELPINDEX
    HELPSUBITEM     IDM_HELPGENERAL,            PANEL_HELPGENERAL
    HELPSUBITEM     IDM_HELPUSINGHELP,          PANEL_HELPUSINGHELP
    HELPSUBITEM     IDM_HELPTUTORIAL,           PANEL_HELPTUTORIAL
    HELPSUBITEM     IDM_HELPPRODUCTINFO,        PANEL_HELPPRODUCTINFO
}

/*
 *  Enter text dialog help subtable
 */
HELPSUBTABLE SUBTABLE_PRODUCTINFODLG
SUBITEMSIZE     2
{
    HELPSUBITEM     IDC_OK,             PANEL_PRODUCTINFO_OK
}
/***************************  End of help.rc ****************************/
